---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "materialize";
$primary-color: color("materialize-blue", "lighten-2") !default;
$secondary-color: color("green", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;
